name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        game_version: ["official", "steam"]
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Download SDK
        run: |
          $sdk_link = "${{ vars.SDK_LINK }}"
          Invoke-WebRequest -Uri $sdk_link -OutFile sdk.zip
          Expand-Archive -Path sdk.zip -DestinationPath CppSDK

      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "18.1.0"

      - uses: lukka/get-cmake@latest

      - name: Configure CMake
        run: cmake -B build -S . -DBUILD_STEAM_VERSION=${{ matrix.game_version == 'steam' && 'ON' || 'OFF' }}

      - name: Build project
        run: cmake --build build --config Release

      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: TOFInternal-${{ matrix.game_version }}
          path: |
            build/bin/Release/TOFInternal.dll
            build/bin/Release/Injector.exe
